
.example-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    margin: auto;
    width: 100%;
  
  
  }

  .example-card {
    max-width: 400px;
    margin: auto;
    margin-top: 4rem;
  }
  
  .padded{
      padding: 1rem;
  }

  form > *{
      width: 100%;
  }